NODE_ENV=dev|staging|prod
PORT=
CORS_ORIGIN=http://localhost:5173

DATABASE_PATH=../database/db.sqlite3
API_SECRET=
UI_TOKEN_HASH=
ADMIN_TOKEN_HASH=

MAILJET_APIKEY_PUBLIC=
MAILJET_APIKEY_PRIVATE=

STRIPE_PUB_KEY=
STRIPE_SECRET_KEY=
